{% extends 'base.html.twig' %} {% block title %}Travels | {{ parent() }}{% endblock %} {% block body %}

<div class="container my-5 pt-5">
  <h1 class="mb-4">Travel destinations</h1>
  <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
    {% for travel in travels %}
    <div id="{{ travel.id }}" class="mb-4">
      <div class="col">
        <div class="card h-100">
          <img src="{{ travel.picture }}" class="card-img-top object-fit-cover rounded-top asprat" alt="..." />
          <div class="card-body">
            <h5 class="card-title mb-3">{{ travel.country }}</h5>
            <p class="card-text my-1">Town: {{ travel.town }}</p>
            <p class="card-text">Days: {{ travel.days }}</p>
            <div class="btn-group rounded w-100" role="group" aria-label="Basic example">
              <a class="btn btn-sm rounded-start btn-info" href="{{ path('app_travels_show', { id: travel.id }) }}" target="_blank">View</a>
              <a class="btn btn-sm btn-warning" href="{{ path('app_travels_edit', { id: travel.id }) }}" target="_blank">Edit</a>
              <a class="btn btn-sm rounded-end btn-danger" href="/delete/{{ travel.id }}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {#
    <td>{{ travel.hotel }}</td>
    <td>{{ travel.price }}</td>
    <td>{{ travel.allIncluded ? 'Yes' : 'No' }}</td>
    <td>{{ travel.createdAt ? travel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
    <td>{{ travel.description }}</td>
    #} {% else %}
    <p class="text-body-secondary">No records found ¯\_(ツ)_/¯</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
