{% extends 'base.html.twig' %}

{% block title %}Travels{% endblock %}

{% block body %}
    <h1>Travels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ travel.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ travel.country }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ travel.town }}</td>
            </tr>
            <tr>
                <th>Hotel</th>
                <td>{{ travel.hotel }}</td>
            </tr>
            <tr>
                <th>Days</th>
                <td>{{ travel.days }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ travel.price }}</td>
            </tr>
            <tr>
                <th>All_included</th>
                <td>{{ travel.allIncluded ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ travel.createdAt ? travel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ travel.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ travel.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_travels_index') }}">back to list</a>

    <a href="{{ path('app_travels_edit', {'id': travel.id}) }}">edit</a>

    {{ include('travels/_delete_form.html.twig') }}
{% endblock %}
