{% extends 'base.html.twig' %} {% block title %}Travels{% endblock %} {% block body %}

<div class="container my-5 pt-5">
  <div class="card h-100">
    <div class="card-body">
      <h2 class="card-title mb-3">{{ travel.country }}</h2>
      <p class="card-text my-1">Town: {{ travel.town }}</p>
      <p class="card-text my-1">Hotel: {{ travel.hotel }}</p>
      <p class="card-text my-1">Days: {{ travel.days }}</p>
      <p class="card-text my-1">All included: {{ travel.allIncluded ? 'Yes' : 'No' }}</p>
      <p class="card-text">Price: &euro;{{ travel.price }}</p>
      <p class="card-text my-1">{{ travel.description }}</p>
      <p class="my-3 text-body-secondary">
        <small>Added at: {{ travel.createdAt ? travel.createdAt|date('Y-m-d H:i:s') : '' }}</small>
      </p>

      <div class="btn-group rounded w-100" role="group" aria-label="Basic example">
        <a class="btn btn-sm rounded-start btn-info" href="{{ path('app_travels_index') }}#{{ travel.id }}">Back to list</a>
        <a class="btn btn-sm btn-warning" href="{{ path('app_travels_edit', { id: travel.id }) }}">Edit</a>
        <a class="btn btn-sm rounded-end btn-danger" href="/delete/{{ travel.id }}">Delete</a>
      </div>
    </div>
    {##}
    <img src="{{ travel.picture }}" class="card-img-top object-fit-cover rounded-bottom asprat" alt="..." />
  </div>
</div>

{{ include('travels/_delete_form.html.twig') }}
{% endblock %}
